<% @soccer_players.each do |player| %>
  <p><%= player.name %></p>
  <p><%= player.homegrown_player %></p>
  <p><%= player.games_played %></p>
<% end %>

<a href= "/soccer_teams/<%= @soccer_team.id %>/soccer_players/new"> Add another Soccer Player</a>

<a href= "/soccer_teams/<%= @soccer_team.id %>/soccer_players/?sort=asc"> Sort Soccer Players in Alphabetical order</a>
