<%= form_with url: "/soccer_teams/#{@soccer_team.id}/soccer_players", method: :get, local: true do |form| %>
  <%= form.label :games %>
  <%= form.text_field :games %>
  <%= form.submit 'Submit' %>
<% end %>

<% @soccer_players.each do |player| %>
  <p>
    <span><%= player.name %></span>
    <span><a href="/soccer_players/<%=player.id%>/edit/">edit <%=player.name.downcase%> info</a></span>
  </p>
  <p><%= player.homegrown_player %></p>
  <p><%= player.games_played %></p>
<% end %>

<a href= "/soccer_teams/<%= @soccer_team.id %>/soccer_players/new"> Add another Soccer Player</a>

<a href= "/soccer_teams/<%= @soccer_team.id %>/soccer_players/?sort=asc"> Sort Soccer Players in Alphabetical order</a>
