
<html style="background-color:white">
  <body style="background-color:white;">
    <h1 style="color:blue;text-decoration:underline;">All Soccer Teams</h1>

    <% @soccer_teams.each do |team| %>
      <h2>
        <span><a  style="color:green;"href="/soccer_teams/<%= team.id %>"><%= team.name %></a></span>
        <span><a href="/soccer_teams/<%=team.id%>/edit/"> Edit <%=team.name%> info </a>
      </h2>
      <p>
        <span style="text-decoration:underline;color:blue;">Qualified for the Champions League?</span>
        <span style="color:blue;"> <%= team.qualified_champ_league %></span>
      </p>
      <p>
        <span style="text-decoration:underline;color:blue;">Points in the league table:</span>
        <span style="color:blue;"> <%= team.points %></span>
      </p>
      <p>
        <span style="text-decoration:underline;color:blue;">Created at:</span>
        <span style="color:blue;"> <%= team.created_at %></span>

      </p>
    <% end %><br><br>
    <a href="/soccer_teams/new"> Add another Soccer Team</a>
  </body>
</html>
