<a href="/soccer_players">Soccer Players Index</a>

<h1><%= @soccer_player.name %></h1>
<p><%= @soccer_player.homegrown_player %></p>
<p><%= @soccer_player.games_played %></p>

<a href= "/soccer_players/<%= @soccer_player.id %>/edit"> Update Soccer Player</a>
<%= link_to "Delete", "/soccer_players/#{@soccer_player.id}", method: :delete %>
