<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/soccer_teams"> Soccer Team Index</a>
    <a href="/soccer_players"> Soccer Players Index</a>
    <a href="/mountain_ranges"> Mountain Range Index</a>
    <a href="/mountains"> Mountains Index</a>


    <%= yield %>
  </body>
</html>
